.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 50px 0;
}

.navbar .button {
  padding: 8px 17px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
  margin-left: 20px;
}

.navbar .contactButton {
  background-color: black;
  color: white;
}

.navbar .callButton {
  background-color: white;
  color: black;
}
@media screen and (max-width: 576px){
  .navbar {
    justify-content: center;
    padding: 30px 0;
  }
  .navbar .button{
    margin: 0 10px;
  }
}